<li id="entry-<%= entry.id %>">
  <%= link_to gravatar_for(entry.user, size: 50), entry.user %>
  <span class="user"><%= link_to entry.user.name, entry.user %></span>
  <span class="title"><strong><%= entry.title if entry.title?%></strong></span>
  <span class="content">
 	<%= entry.content %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
  <span class="extra"><%= link_to "Extra", entry %></span>

  <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete, data: { confirm: "you sure?" } %>
  <% end %>
</li>