<div class="container">
  <div class="microposts">
	<%= link_to gravatar_for(@micropost.user, size: 50), @micropost.user %>	
	<span class="user"><%= link_to @micropost.user.name, @micropost.user %></span>
	<span class="title"><strong><%= @micropost.title if @micropost.title?%></strong></span>
	<span class="content"><%= @micropost.content %></span>
	<span class="timestamp">Posted <%= time_ago_in_words(@micropost.created_at) %> ago.</span> 
	<span class="extra">
	<% if current_user?(@micropost.user) %>
	  <%= link_to "delete", @micropost, method: :delete, data: { confirm: "you sure?" } %>
	<% end %>
	</span>
  </div>
	<h3>Comments (<%= @micropost.comments.count %>)</h3>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<ol class="microposts">
			  <%= render @comments %>
			</ol>
			<% if logged_in? && (comment_user? @micropost) %>
				<%= render 'shared/comment_form', micropost: @micropost, comment: @new_comment %>
			<% end %>
		</div>	
	</div>
</div>


